@charset "utf-8";
/* CSS Document */

	/*----*****---- << Headings >> ----*****----*/
	
	#home .main-title { background:url(images/title-border.png) center bottom no-repeat; }

	/*----*****---- << Sprite icons background >> ----*****----*/
	
	.rounded-icon span { background:url(images/home-icons.png) no-repeat; }	
	
	/*----*****---- << Text Elements >> ----*****----*/
	
	.content.dark-bg .hr { background:#393439; }	
	.content.dark-bg .hr-border { border:4px double #393439; }
	
	.content.dark-bg pre, .content.dark-bg code{ background-color:#393439; }

		/*----*****---- << Home >> ----*****----*/
		
		#home { background:#333 url(images/home-mountain-bg.jpg) center bottom no-repeat ; }
		
		.work-flow, #primary.content-full-width .work-flow { background:url(images/workflow-sep.png) 262px 53px no-repeat; }
		
		.rounded-icon span { border:5px solid #11538b; }		
		
		/*----*****---- << Portfolio >> ----*****----*/
		
		.portfolio-image .image-overlay	{ background:url(images/portfolio-four-col.png) center center no-repeat; }
		.portfolio.four-column.with-sidebar .image-overlay { background:url(images/portfolio-four-col-sidebar.png) center center no-repeat; }
		.portfolio.three-column .image-overlay { background:url(images/portfolio-three-col.png) center center no-repeat; }
		.portfolio.three-column.with-sidebar .image-overlay { background:url(images/portfolio-three-col-sidebar.png) center center no-repeat; }

	/*----*****---- << Main >> ----*****----*/
	
	.content.dark-bg { background:url(images/dark-bg.jpg) repeat; }
	
		/*----*****---- << About >> ----*****----*/
		
		.testimonial-wrapper .rounded-image span { border:5px solid #393439; }
	
		.testimonial-content-wrapper { background:url(images/testimonial-arrow.png) left 30px no-repeat; }
		.testimonial-content { background:#393439 url(../../images/quote.png) 95% 85% no-repeat; border-bottom:2px solid #504d4c; }
		
		.testimonial-slider-arrows a { color:#3c3942; }
		
		/*----*****---- << Blog >> ----*****----*/
		
		.blog-entry .entry-metadata { background:#393439; }
		
		.slider-controls a.prev-posts, .slider-controls a.next-posts { color:#717171; }
		
		.slider-controls #pager a { background:#717171; }
		
		/*----*****---- << Portfolio >> ----*****----*/
		
		.portfolio-image .image-overlay a.zoom .icon-plus, .portfolio-image .image-overlay a.link .icon-link { color:#5783ae; }
		
		/*----*****---- << Contact >> ----*****----*/
		
		.dark-box { background:#393439; }
		
		/*----*****---- << Footer >> ----*****----*/
		
		#footer { background:#252525; }
		
		#footer .widget.widget_recent_entries .entry-metadata { background:#363636; }		
		#footer .hr { background:#363636; }
